<% include partials/header %>


<i class="material-icons medium right" style="color:teal;">phone</i>
<h1>Contacts</h1>
<div class="row s12">
    <ul class="collection z-depth-1">
        <li class="collection-item avatar">
          <img src="https://cdn2.iconfinder.com/data/icons/circle-avatars-1/128/039_girl_avatar_profile_woman_headband-512.png" alt="" class="circle">
          <span class="title">Lea</span>
          <p>lea@thewellnesscentre.com <br>
             046 - 90 54373
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>

        <li class="collection-item avatar">
            <img src="https://cdn2.iconfinder.com/data/icons/circle-avatars-1/128/050_girl_avatar_profile_woman_suit_student_officer-512.png" alt="" class="circle">
            <span class="title">Sarah</span>
            <p>sarah@thewellnesscentre.com <br>
               046 - 90 54373
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
</div>

                <!--fullscreen  slider by MaterializeCss-->
                <div class="slider" style="height: 500px;">
                    <ul class="slides">
                      <li>
                        <img src="https://images.pexels.com/photos/556663/pexels-photo-556663.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"> <!-- random image -->
                        <div class="caption center-align">
                                <h3>Blossom into a new YOU!</h3>
                                <h5 class="dark-text text-lighten-3">Our treatments can heal your worries.</h5>
                                
                        </div>
                      </li>
                      <li>
                        <img src="https://images.pexels.com/photos/359564/pexels-photo-359564.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"> <!-- random image -->
                        <div class="caption left-align">
                                <h3>Why not avail of some of our amazing services</h3>
                                <h5 class="dark-text ">- Sweedish Massage <br> - Aromatherapy Massage  <br> - Hot Stone Massage <br> - Reiki</h5>
     

                        </div>
                      </li>
                      <li>
                        <img src="https://images.unsplash.com/photo-1489659639091-8b687bc4386e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80"> <!-- random image -->
                        <div class="caption right-align">
                                <h3>Let us take you to Paradise</h3>
                                <h5 class="light dark-text text-lighten-3">Take a deep breath and to leave your worries and stress at the door </h5>
                          
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
  

<% include partials/footer %>