<% include partials/header %>


<section id="content">
<div class="row">

    <div class="col s4">
<div id="event">
    <a id="na" href="na.html">
        <img src="https://www.irishtimes.com/polopoly_fs/1.2356976.1442588424!/image/image.jpg_gen/derivatives/box_620_330/image.jpg" class="responsive-img z-depth-3" alt="Navan"/>Navan</a>

    <a id="kl" href="kl.html" class="rounded">
        <img src="http://monastic.ie/wp-content/uploads/2017/05/Kells_OSA_NMS-6.jpg" alt="Kells" class="responsive-img z-depth-3"/>Kells</a>

    <a id="kc" href="Kc.html">
    <img src="https://i.ytimg.com/vi/7h8mEVB8W54/maxresdefault.jpg" alt="Kingscourt" class="responsive-img z-depth-3"/>Kingscourt</a>

</div>
    </div>

    <div class="col s4">
        <div id="sessions">
            <h5 class="align-centre">Select an EVENT from the left</h5>
        </div>
        
        </div>

        <div class="col s4">
            <div id="details">
                <h4>Details</h4>
            </div>
        
            </div>

</div>  <!-- #container -->
</section> <!-- #content -->


<% include partials/footer %>