<% include ./partials/header %>


<i class="material-icons medium right" style="color:teal;">access_time</i>

<h1>Opening Hours</h1>
<table class="highlight">
<thead>

    <tr>
      <th>Day</th>
      <th>Time</th>
     
  </tr>
</thead>

<tbody>
  <tr>
    <td>Monday</td>
    <td>10:00am- 8:00pm</td>

  </tr>
  <tr>
    <td>Tuesday</td>
    <td>10:00am- 8:00pm</td>
    
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>CLOSED</td>
  
  </tr>
  <tr>
    <td>Thursday</td>
    <td>10:00am – 8:00pm</td>
  
  </tr>
  <tr>
    <td>Friday</td>
    <td>10:00am – 8:00pm</td>
  
  </tr>
  <tr>
    <td>Saturday</td>
    <td>10:00am – 5:00pm</td>
  
  </tr>
  <tr>
    <td>Sunday</td>
    <td>CLOSED</td>
  
  </tr>
</tbody>
</table>
<br><br>
<div class="right">
    <a href="/treatments">Go To Treatments</a>
</div>
<br><br>


<% include ./partials/footer %>