<% include ../partials/header %>



<h1>Edit Review for </h1>





<div class="row">
    
    <form action="/treatments/<%= treatment_id %>/reviews/<%= review._id %>?_method=PUT" method="POST" class="col s12">

 <!--desc-->
 

          <div class="form-group">
                <label for="icon_prefix2"> Edit your Review</label>
            <input class="form-control" type="text" name="review[text]" value="<%= review.text %>">
        </div>

<!--submit btn-->
        <div class="row">
        <div class="input-field col s12">

            <button class="btn primary waves-effect waves-light col s12" onclick="M.toast({html: 'Review Posted', classes: 'rounded', displayLength:'5000'})">
            Submit</button>
        </div>
      </div>

    </form>
    <span style="float: right;"><a href="/treatments">Go Back</a></span>
    </div>


<% include ../partials/footer %>